/*
    ! 字体方面相关
      背景颜色方面相关
      颜色方面相关
*/

/*字体*/
$fs14:14px;
$fs16:16px;
$fs18:18px;
$fs20:20px;
$fs22:22px;
$fs24:24px;
$fs26:26px;
$fs28:28px;
$fs30:30px;
$fs32:32px;
$fs34:34px;
$fs36:36px;
$fs38:38px;

/*背景*/
/*
    ! 用户登录的模块
*/
$userLogin-bj:#ebebeb;
/*颜色*/
/*
    !新品上架的模块
*/
$newGoods-bj:#ebebeb;
$newGoods-main:#E6A804;
$newGoods-noMain:#CB1D46;
