@import "compass","skinsActive";
.g-header{
    width: 100%;
    position: relative;
    .click{
        position: absolute;
        width:40%;
        height:100%;
        background-color:transparent;
        top:0;
        left:20%;
        z-index:200;
        cursor: pointer;
    }
    img{
        width:100%;
    }
}
.g-main{
    background-color: $page-bj;
    .m-login{
      padding-top:90px;
      padding-bottom:120px;
        .u-title{
            font-size: $fs36;
        }
        .u-area{
            padding-top:54px;
            display: flex;
            justify-content: space-between;
            .u-slide{
                width: 820px;
            }
            .u-logins{
                width:350px;
                .login-area{
                    padding:24px;
                    background-color: #fff;
                    width:100%;
                    height:412px;
                    border:1px solid #ccc;
                    h1{
                        i{font-size: 34px;vertical-align:-4px;margin-right: 4px;}
                        font-size: 22px;
                        color:#DB0011;
                        border-bottom:1px solid #BFBFBF;
                        padding-bottom: 10px;
                    }
                    #login{
                        >div{
                            display: flex;

                            p:first-child{
                                width:60px;
                                font-size: 14px;
                                align-self: center;
                                color:#AAACB0;
                                margin-top:18px;
                            }
                            p:last-child{
                                margin-top:22px;
                                 flex:1;
                                input{
                                    width:100%;
                                    height:40px;
                                    border-radius: 2px;
                                    padding-left:24px;
                                }
                            }
                        }
                        >p{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-top:42px;
                            .button-width-small {
                                padding:0 !important;
                                border:none;
                            }
                            a:last-child{
                                font-size: $fs14;
                                text-decoration: underline;
                                letter-spacing: 1px;
                                color:#666;
                                &:hover{
                                    color:$page-mainColor;
                                }
                            }
                        }
                    }
                }
            }
            h2{
                font-size: $fs14;
                color:$page-mainColor;
                margin:20px 0 10px 0;
            }
        }
    }
}
.g-footer{
    margin-top: 24px;
    text-align: center;
}
.m-find-pwd{
    margin-top: 80px;
    form{
        >div{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom:20px;
            p:first-child{
                width:94px;
                font-size: $fs20;
            }
            p:nth-child(2){
                input{
                    width:230px;
                    height:38px;
                    padding-left: 12px;
                }
            }
            .button-caution {
                margin-left: 20px;
            }
        }
        .m-find-submit{
            text-align: right;
        }
        .findPwd-info{
            margin-top:40px;
            font-size: $fs16;
            color:$newGoods-noMain;
            display:none;
        }

    }
}
