@charset "UTF-8";
/*
    ! 字体方面相关
      背景颜色方面相关
      颜色方面相关
*/
/*字体*/
/*背景(网页的基础色调是浅灰 #ebebeb)*/
/*
    !新品上架的模块
*/
/*
    !购物车结算模块
*/
/*
    !组件的抽象样式
    1.公共的header   component-header
    2.公共的footer   component-footer
    3.新品上架 的种类 component-kind
*/
.newGoodsLogo-sprite, .newGoodsLogo-bh, .newGoodsLogo-bj, .newGoodsLogo-cf, .newGoodsLogo-jj, .newGoodsLogo-ljgm, .newGoodsLogo-ly, .newGoodsLogo-new, .newGoodsLogo-ny, .newGoodsLogo-tjgwc, .newGoodsLogo-xh, .newGoodsLogo-yl, .newGoodsLogo-zf, .newGoodsLogo-zh {
  background-image: url('../images/newGoodsLogo-sda1a02d7ac.png');
  background-repeat: no-repeat;
}

.newGoodsLogo-bh {
  background-position: 0 0;
  height: 23px;
  width: 25px;
}
.newGoodsLogo-bh:hover, .newGoodsLogo-bh.bh-hover {
  background-position: 0 -46px;
}
.newGoodsLogo-bh:active, .newGoodsLogo-bh.bh-active {
  background-position: 0 -23px;
}

.newGoodsLogo-bj {
  background-position: 0 -69px;
  height: 21px;
  width: 21px;
}
.newGoodsLogo-bj:hover, .newGoodsLogo-bj.bj-hover {
  background-position: 0 -111px;
}
.newGoodsLogo-bj:active, .newGoodsLogo-bj.bj-active {
  background-position: 0 -90px;
}

.newGoodsLogo-cf {
  background-position: 0 -132px;
  height: 24px;
  width: 24px;
}
.newGoodsLogo-cf:hover, .newGoodsLogo-cf.cf-hover {
  background-position: 0 -180px;
}
.newGoodsLogo-cf:active, .newGoodsLogo-cf.cf-active {
  background-position: 0 -156px;
}

.newGoodsLogo-jj {
  background-position: 0 -204px;
  height: 21px;
  width: 21px;
}
.newGoodsLogo-jj:hover, .newGoodsLogo-jj.jj-hover {
  background-position: 0 -246px;
}
.newGoodsLogo-jj:active, .newGoodsLogo-jj.jj-active {
  background-position: 0 -225px;
}

.newGoodsLogo-ljgm {
  background-position: 0 -267px;
  height: 39px;
  width: 37px;
}

.newGoodsLogo-ly {
  background-position: 0 -306px;
  height: 24px;
  width: 20px;
}
.newGoodsLogo-ly:hover, .newGoodsLogo-ly.ly-hover {
  background-position: 0 -354px;
}
.newGoodsLogo-ly:active, .newGoodsLogo-ly.ly-active {
  background-position: 0 -330px;
}

.newGoodsLogo-new {
  background-position: 0 -378px;
  height: 31px;
  width: 33px;
}

.newGoodsLogo-ny {
  background-position: 0 -409px;
  height: 22px;
  width: 23px;
}
.newGoodsLogo-ny:hover, .newGoodsLogo-ny.ny-hover {
  background-position: 0 -453px;
}
.newGoodsLogo-ny:active, .newGoodsLogo-ny.ny-active {
  background-position: 0 -431px;
}

.newGoodsLogo-tjgwc {
  background-position: 0 -475px;
  height: 39px;
  width: 37px;
}

.newGoodsLogo-xh {
  background-position: 0 -514px;
  height: 22px;
  width: 12px;
}
.newGoodsLogo-xh:hover, .newGoodsLogo-xh.xh-hover {
  background-position: 0 -558px;
}
.newGoodsLogo-xh:active, .newGoodsLogo-xh.xh-active {
  background-position: 0 -536px;
}

.newGoodsLogo-yl {
  background-position: 0 -580px;
  height: 22px;
  width: 15px;
}
.newGoodsLogo-yl:hover, .newGoodsLogo-yl.yl-hover {
  background-position: 0 -624px;
}
.newGoodsLogo-yl:active, .newGoodsLogo-yl.yl-active {
  background-position: 0 -602px;
}

.newGoodsLogo-zf {
  background-position: 0 -646px;
  height: 22px;
  width: 26px;
}
.newGoodsLogo-zf:hover, .newGoodsLogo-zf.zf-hover {
  background-position: 0 -690px;
}
.newGoodsLogo-zf:active, .newGoodsLogo-zf.zf-active {
  background-position: 0 -668px;
}

.newGoodsLogo-zh {
  background-position: 0 -712px;
  height: 23px;
  width: 21px;
}
.newGoodsLogo-zh:hover, .newGoodsLogo-zh.zh-hover {
  background-position: 0 -758px;
}
.newGoodsLogo-zh:active, .newGoodsLogo-zh.zh-active {
  background-position: 0 -735px;
}

.g-newGoods .m-header {
  position: relative;
  width: 100%;
}
.g-newGoods .m-header .click {
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: transparent;
  top: 0;
  left: 20%;
  z-index: 200;
  cursor: pointer;
}
.g-newGoods .m-header .logo {
  width: 100%;
}
.g-newGoods .m-header .reset-auto {
  position: absolute;
  bottom: 14%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: right;
  font-size: 24px;
  color: #fff;
}
.g-newGoods .m-header .reset-auto .u-username, .g-newGoods .m-header .reset-auto .u-user-out {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}
.g-newGoods .m-header .reset-auto i {
  vertical-align: -4px;
}
.g-newGoods .m-header .reset-auto .u-user-out {
  margin-left: 10px;
  text-decoration: underline;
}
.g-newGoods .m-header .reset-auto s {
  text-decoration: none;
  font-weight: bold;
  margin-right: 6px;
  font-size: 32px;
  vertical-align: -4px;
  cursor: pointer;
}
.g-newGoods .m-footer {
  margin-top: 24px;
  text-align: center;
  padding-bottom: 30px;
}
.g-newGoods .g-area {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.g-newGoods .g-area .g-list {
  width: 274px;
  background-color: #fff;
  border: 1px solid #DADADB;
  position: fixed;
}
.g-newGoods .g-area .g-list ul li {
  padding: 0 20px;
}
.g-newGoods .g-area .g-list ul li .newGoodsLogo-xh {
  margin-left: 4px;
}
.g-newGoods .g-area .g-list ul li:hover .newGoodsLogo-new, .g-newGoods .g-area .g-list ul li.active .newGoodsLogo-new {
  background: url(../images/newIMG.png) no-repeat;
}
.g-newGoods .g-area .g-list ul li:hover .newGoodsLogo-bh, .g-newGoods .g-area .g-list ul li.active .newGoodsLogo-bh {
  background-position: 0 -46px;
}
.g-newGoods .g-area .g-list ul li:hover .newGoodsLogo-bj, .g-newGoods .g-area .g-list ul li.active .newGoodsLogo-bj {
  background-position: 0 -111px;
}
.g-newGoods .g-area .g-list ul li:hover .newGoodsLogo-cf, .g-newGoods .g-area .g-list ul li.active .newGoodsLogo-cf {
  background-position: 0 -180px;
}
.g-newGoods .g-area .g-list ul li:hover .newGoodsLogo-jj, .g-newGoods .g-area .g-list ul li.active .newGoodsLogo-jj {
  background-position: 0 -246px;
}
.g-newGoods .g-area .g-list ul li:hover .newGoodsLogo-ly, .g-newGoods .g-area .g-list ul li.active .newGoodsLogo-ly {
  background-position: 0 -354px;
}
.g-newGoods .g-area .g-list ul li:hover .newGoodsLogo-ny, .g-newGoods .g-area .g-list ul li.active .newGoodsLogo-ny {
  background-position: 0 -453px;
}
.g-newGoods .g-area .g-list ul li:hover .newGoodsLogo-xh, .g-newGoods .g-area .g-list ul li.active .newGoodsLogo-xh {
  background-position: 0 -558px;
}
.g-newGoods .g-area .g-list ul li:hover .newGoodsLogo-yl, .g-newGoods .g-area .g-list ul li.active .newGoodsLogo-yl {
  background-position: 0 -624px;
}
.g-newGoods .g-area .g-list ul li:hover .newGoodsLogo-zf, .g-newGoods .g-area .g-list ul li.active .newGoodsLogo-zf {
  background-position: 0 -690px;
}
.g-newGoods .g-area .g-list ul li:hover .newGoodsLogo-zh, .g-newGoods .g-area .g-list ul li.active .newGoodsLogo-zh {
  background-position: 0 -758px;
}
.g-newGoods .g-area .g-list ul li a {
  position: relative;
  border-top: 1px solid #c2c2c2;
  display: block;
  font-size: 14px;
  padding: 10px 0;
  font-weight: 600;
}
.g-newGoods .g-area .g-list ul li a i {
  display: inline-block;
}
.g-newGoods .g-area .g-list ul li a span {
  position: absolute;
  left: 36px;
  top: 13px;
}
.g-newGoods .g-area .g-list ul li:first-child a {
  border: none;
}
.g-newGoods .g-area .g-list .newsj a span {
  top: 20px;
  left: 50px;
}
.g-newGoods .g-area .g-list li:hover, .g-newGoods .g-area .g-list li.active {
  background-color: #CB1D46;
}
.g-newGoods .g-area .g-list li:hover a, .g-newGoods .g-area .g-list li.active a {
  color: #fff;
  border-top-color: #CB1D46;
}
.g-newGoods .g-area .g-list li:hover + li a, .g-newGoods .g-area .g-list li.active + li a {
  border-top-color: transparent;
}
.g-newGoods .g-area .g-content {
  margin-left: 288px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.g-main {
  background-color: #ebebeb;
}
.g-main .g-content .g-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  cursor: pointer;
}
.g-main .g-content .g-search .m-search {
  width: 534px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.g-main .g-content .g-search .m-search input {
  width: 432px;
  height: 38px;
  border: 2px solid #CB1D46;
  border-radius: 2px 0 0 2px;
  padding-left: 24px;
  background-color: transparent;
}
.g-main .g-content .g-search .m-search p {
  width: 104px;
  height: 38px;
  text-align: center;
  background-color: #CB1D46;
  color: #fff;
  padding: 10px 0;
}
.g-main .g-content .g-search .m-search p i {
  font-size: 20px;
  color: #fff;
}
.g-main .g-content .g-search .m-search p span {
  font-size: 16px;
  letter-spacing: 4px;
  position: relative;
  top: -4px;
  left: 4px;
}
.g-main .g-content .g-search .m-shopping {
  width: 184px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
}
.g-main .g-content .g-search .m-shopping i, .g-main .g-content .g-search .m-shopping .u-num-box {
  color: #CB1D46;
}
.g-main .g-content .g-search .m-shopping .u-num-box {
  font-size: 18px;
  font-weight: 600;
}
.g-main .g-content .g-search .m-shopping i {
  font-size: 20px;
  font-weight: bold;
  vertical-align: -4px;
}
.g-main .g-content .g-search .m-shopping .u-shopping {
  margin: 0 12px;
}
.g-main .g-content .g-search .m-histroy {
  width: 96px;
  font-size: 22px;
}
.g-main .g-content .g-newsShow {
  margin-top: 24px;
}
.g-main .g-content .g-newsShow .m-newsShow {
  background-color: #fff;
  border: 1px solid #DADADB;
  min-height: 600px;
}
.g-main .g-content .g-newsShow .m-newsShow h1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 64px;
  padding-left: 12px;
}
.g-main .g-content .g-newsShow .m-newsShow .u-goodShow > .u-goodsArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.g-main .g-content .g-newsShow .m-newsShow .u-goodShow > .u-goodsArea > div {
  width: 290px;
  height: 354px;
  border: 2px solid #E6A804;
  position: relative;
  cursor: pointer;
  margin-bottom: 24px;
  margin-left: 10px;
}
.g-main .g-content .g-newsShow .m-newsShow .u-goodShow > .u-goodsArea > div .u-singleGood-box {
  text-align: center;
  height: 286px;
  background: #fff;
}
.g-main .g-content .g-newsShow .m-newsShow .u-goodShow > .u-goodsArea > div .u-singleGood-box img {
  width: 100%;
  height: 100%;
}
.g-main .g-content .g-newsShow .m-newsShow .u-goodShow > .u-goodsArea > div .u-desc {
  padding: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 64px;
  background-color: #E6A804;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.g-main .g-content .g-newsShow .m-newsShow .u-goodShow > .u-goodsArea > div .u-desc .u-title {
  width: 160px;
}
.g-main .g-content .g-newsShow .m-newsShow .u-goodShow > .u-goodsArea > div .u-desc .u-title p:first-child {
  padding: 4px 0;
  font-size: 14px;
  border-bottom: 1px solid #866B26;
  color: #000;
}
.g-main .g-content .g-newsShow .m-newsShow .u-goodShow > .u-goodsArea > div .u-desc .u-title p:last-child {
  margin-top: -6px;
}
.g-main .g-content .g-newsShow .m-newsShow .u-goodShow > .u-goodsArea > div .u-desc .u-title p:last-child i {
  font-size: 28px;
}
.g-main .g-content .g-newsShow .m-newsShow .u-goodShow > .u-goodsArea > div .u-desc .u-title p:last-child b {
  font-size: 26px;
  margin-left: 10px;
}
.g-main .g-content .g-newsShow .m-newsShow .u-goodShow > .u-goodsArea > div .u-desc .u-buy, .g-main .g-content .g-newsShow .m-newsShow .u-goodShow > .u-goodsArea > div .u-desc .u-addGwc {
  line-height: 68px;
  margin-left: 6px;
}
.g-main .g-content .g-newsShow .m-newsShow .u-goodShow > .u-goodsArea > div .u-desc .u-addGwc {
  margin-left: 10px;
}
.g-main .g-content .g-newsShow .m-newsShow .g-fenye {
  position: relative;
  padding: 4% 20% 10% 20%;
}
.g-main .g-content .g-newsShow .m-newsShow .g-fenye > ul {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
